{{extend 'layout.html'}}
{{=form.custom.begin}}
<h1>Editar Ordem de Serviço - {{=form.custom.widget.id}} <span class='pull-right'>{{=form.custom.submit}}</span></h1>

<div class="row">
    <div class="col-md-4">
        {{=form.custom.label.cliente}}:
        {{=form.custom.widget.cliente}}
    </div>
    <div class="col-md-4">
        {{=form.custom.label.data_abertura}}:
        {{=form.custom.widget.data_abertura}}
    </div>
    <div class="col-md-4">
        {{=form.custom.label.total}}:
        R$ {{=form.custom.widget.total}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{=form.custom.label.desconto}}:
        {{=form.custom.widget.desconto}}
    </div>
    <div class="col-md-4">
        {{=form.custom.label.status}}:
        {{=form.custom.widget.status}}
    </div>
</div>
{{=form.custom.end}}
<hr>
<div class="row">
    <div class="col-md-6">
        <h2>
            Itens {{=A('Inserir', _href=URL(f='inserir_item', vars={'os_id': request.vars.os_id}), _class='btn btn-info')}}
        </h2>
        {{=SQLTABLE(items, headers='labels', _class='table')}}
    </div>
    <div class="col-md-6">
        <h2>
            Serviços {{=A('Inserir', _href=URL(f='inserir_servico', vars={'os_id': request.vars.os_id}), _class='btn btn-info')}}
        </h2>
        {{=SQLTABLE(servicos, headers='labels', _class='table')}}
    </div>
</div>

<script>
    $("#ordem_servico_desconto_percentual").on('blur', function(){
        calcula_desconto()
    });
</script>
